<a href="https://colab.research.google.com/github/JacqueDominguez/joyitas_de_python/blob/main/Duplicados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [9]:
student_info = [('George', 78, 'Australia'),
			('Micheal', 189, 'Germany'),
			('Oliva', 140, 'Malaysia'),
			('James', 95, 'Uganda'),
			('James', 95, 'Uganda'),
      ('Micheal', 200, 'Uganda'),
			('Oliva', 140, 'Malaysia'),
			('Elijah', 391, 'Japan'),
			('Chris', 167, 'China')
			]

df = pd.DataFrame(student_info,
				columns = ['Student_name', 'Student_id', 'Student_city'])

¿Hay duplicados? ¿Cuántos?

In [10]:
df.duplicated().sum()

2

¿En una colunma o varias?

In [11]:
df.Student_name.duplicated().sum() #Duplicados solo de la columna

3

In [12]:
df.duplicated(subset=['Student_name','Student_city']).sum() #Duplicados considerando solo las 2 columnas

2

Hacer un nuevo dataframe solo con los duplicados del dataframe

In [14]:
duplicate=df[df.duplicated(keep=False)] #Devuelve el registro original y sus repetidos
duplicate

  Student_name  Student_id Student_city
2        Oliva         140     Malaysia
3        James          95       Uganda
4        James          95       Uganda
6        Oliva         140     Malaysia

Duplicados de 1 sola columna y los últimos registros

In [17]:
new_duplicate = df[df.duplicated('Student_city',keep='last')]

new_duplicate

  Student_name  Student_id Student_city
2        Oliva         140     Malaysia
3        James          95       Uganda
4        James          95       Uganda

Eliminamos los duplicados

In [18]:
df.drop_duplicates(keep='first',inplace=True) #Elimino los ultimos registros duplicados en el DF original quedando los primeros como válidos
df

  Student_name  Student_id Student_city
0       George          78    Australia
1      Micheal         189      Germany
2        Oliva         140     Malaysia
3        James          95       Uganda
5      Micheal         200       Uganda
7       Elijah         391        Japan
8        Chris         167        China